<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$title}</title>

    <meta name="description" content="Mailbox with some customizations as described in docs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    {css href="__CSS__bootstrap.min.css"}    
    {css href="__STATIC__assets/font-awesome/4.5.0/css/font-awesome.min.css"}
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    {css href="__CSS__fonts.googleapis.com.css"}
    <!-- ace styles -->
    {css href="__CSS__ace.min.css"}
    <!--[if lte IE 9]>
        {css href="__CSS__ace-part2.min.css"}
    <![endif]-->
    {css href="__CSS__ace-skins.min.css"}
    {css href="__CSS__ace-rtl.min.css"}

    <!--[if lte IE 9]>
    {css href="__CSS__ace-ie.min.css"}
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    {js href="__JS__ace-extra.min.js"}

</head>